# Object files
*.o
*.ko
*.obj
*.elf
*.swp
core

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ignoring by project
share/etc/apache/softgred.conf
share/webinterface/webinterface_config.php
share/webinterface/config.php

# build
ChangeLog
version.h
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/.deps/
bin/Makefile
bin/Makefile.in
bin/softgred
build.sh
changes
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps
src/.dirstamp
stamp-h1
tmp/

debian/softgred.substvars
debian/files
debian/softgred/*
debian/softgred*.debhelper
debian/changelog
debian/*.log

