Source: softgre
Section: net
Priority: optional
Maintainer: Jorge Pereira <jpereiran@gmail.com>
Uploaders: Jorge Pereira <jpereiran@gmail.com>
Homepage: https://github.com/jpereira/softgre
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pkg-softgre.git
#Vcs-Git: git://git.debian.org/git/collab-maint/pkg-softgre.git
Standards-Version: 0.0.1
Build-Depends: libpcap-dev,
               iproute-dev,
               linux-libc-dev,
               debhelper (>= 8),
               pkg-config,
               bison,
               flex

Package: softgre
Priority: important
Architecture: any
Provides: softgred
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: Layer 2 over Soft-GRE Tunnels
