<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-s
    RewriteRule ^(.*)$ main.php?rquest=$1 [QSA,NC,L]

    #RewriteCond %{REQUEST_FILENAME} -d
    #RewriteRule ^(.*)$ main.php [QSA,NC,L]

    #RewriteCond %{REQUEST_FILENAME} -s
    #RewriteRule ^(.*)$ main.php [QSA,NC,L]	
</IfModule>
